# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
.env/

# Data & artifacts
data/raw/
data/external/
data/interim/
data/processed/
artifacts/
runs/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
